services:
  - type: web
    name: fairshare-backend
    runtime: docker
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: PORT
        value: 8080
      - key: JAVA_VERSION
        value: 17
    healthCheckPath: /actuator/health
    autoDeploy: true
